<body>

    <h1>Torrey Pines: Favorite Places in San Diego!</h1>
    <ul>
        <li>Lolita Taco Shop</li>
        <li>Salk Institute</li>
        <li>Windansea Beach</li>
        <li>Black Beach</li>
        <li>Glider Port</li>
        <li>Balboa Park</li>
        <li>Mission Trails</li>
        <li>Cardiff by the Sea</li>
        <li>San Diego Botanical Garden</li>
        <li>Mount Solidad</li>
    </ul>

</body>

<%= link_to 'Back to Home', '/'%>