<h1>Television</h1>
    <ul>
        <li>Avatar: The Last Airbender</li>
        <li>Arrested Development</li>
        <li>Breaking Bad</li>
        <li>Futurama</li>
        <li>SpongeBob SquarePants</li>
        <li>Pokemon</li>
        <li>Inuyasha</li>
        <li>The Good Place</li>
        <li>30 Rock</li>
        <li>Brooklyn Nine Nine</li>
    </ul>

<%= link_to 'Back to Home', '/'%>